body { background-color: lightgray; }
h1 { color: darkblue; text-align: center; 
	font-family: Copperplate; font-size: 45px;} 

p { color: black; }
body { background-image: url("background.jpg");
	background-position: center; 
	background-size: cover; }
div {
	padding:70px;
	border:1px; }
