
body { background-color: lightgrey; color: black; }
body { 
	background-image: url("colombianflag.jpg");
	background-size: cover;
	background-repeat: no-repeat;
		}

p { 
	font-size: .90em; font-family: Arial; }

h1{ 
	font-size: 1.25em; font-weight: bold;
	text-transform: uppercase; margin: 20px 40px 10px 20px;
}
h2{ font-size: 1.25em; font-weight: bold; 
	font-family: Arial; text-align: center; padding: 20px;
margin-bottom: 50px;}

li { font-size: .90em; font-family: Arial;
	margin: 10px;}
.container {
             padding: 1.20em;
             width: 75%; min-width: 700px;
 max-width: 940px
             ;margin-left: auto 
             ;margin-right: auto; 
             box-shadow: 5px 5px 5px #333}
h1 { 
	text-shadow: 1px 1px 0 #ccc; 
	text-align: center; 
	padding: 15px}

.container{ 
	display:flex;}

.ingredients{ padding: 20px; }
a:hover { color: blue;
	text-decoration: underline;}